{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

{{! Everything inside the #author tags pulls data from the author }}


    <section id="blog" class="blog">
        <div class="wrapper">

            {{#author}}

            <h2 class="section-title">{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span> by {{name}}</h2>

            {{/author}}


            {{! The tag below includes the post loop - partials/loop.hbs }}
            {{> "loop"}}

        </div>
    </section>


