{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}

    <header class="hero">
        <div class="wrapper">
            <h2 class="hero-title">Code Louisville is a community-driven program that teaches <strong>coding skills</strong> to anyone ready to start a new career.</h2>
            <h3 class="hero-subtitle">We&apos;re looking for <a href="/students">students</a>, <a href="/mentors">mentors</a> and <a href="/employers">employers</a>.</h3>
        </div>
    </header>


    <section id="courses" class="courses">
        <div class="wrapper">
            <h2 class="section-title">Current Courses: Fall 2014</h2>
            <article>
                <h3 class="article-title">Front-end Dev</h3>
                <p>[Link to GitHub page?] Godard pop-up pork belly shabby chic VHS keffiyeh. Semiotics disrupt viral Truffaut, blog typewriter plaid polaroid.</p>
                <a href="">Learn More</a>
            </article>
            <article>
                <h3 class="article-title">Back-end Dev</h3>
                <p>[Link to GitHub page?] Godard pop-up pork belly shabby chic VHS keffiyeh. Semiotics disrupt viral Truffaut, blog typewriter plaid polaroid.</p>
                <a href="">Learn More</a>
            </article>
            <article>
                <h3 class="article-title">iOS Dev</h3>
                <p>[Link to GitHub page?] Godard pop-up pork belly shabby chic VHS keffiyeh. Semiotics disrupt viral Truffaut, blog typewriter plaid polaroid.</p>
                <a href="">Learn More</a>
            </article>
        </div>
    </section>

    {{> testimonial}}

    <section class="benefits">
        <div class="wrapper">
            <h2 class="section-title">Why Code Louisville?</h2>
            <article>
                <h3 class="article-title">Small Class Sizes</h3>
                <p>You probably haven&apos;t heard of them swag locavore, scenester four loko normcore banjo mustache twee. 3 wolf moon Neutra synth small batch, tote bag direct trade selfies iPhone Thundercats scenester PBR&B semiotics bitters. Cred wayfarers photo booth, blog fanny pack direct trade tattooed.</p>
            </article>
            <article>
                <h3 class="article-title">Personalized Instruction</h3>
                <p>You probably haven&apos;t heard of them swag locavore, scenester four loko normcore banjo mustache twee. 3 wolf moon Neutra synth small batch, tote bag direct trade selfies iPhone Thundercats scenester PBR&B semiotics bitters. Cred wayfarers photo booth, blog fanny pack direct trade tattooed.</p>
            </article>
            <article>
                <h3 class="article-title">Absolutely Free</h3>
                <p>You probably haven&apos;t heard of them swag locavore, scenester four loko normcore banjo mustache twee. 3 wolf moon Neutra synth small batch, tote bag direct trade selfies iPhone Thundercats scenester PBR&B semiotics bitters. Cred wayfarers photo booth, blog fanny pack direct trade tattooed.</p>
            </article>
            <article>
                <h3 class="article-title">Something Else</h3>
                <p>You probably haven&apos;t heard of them swag locavore, scenester four loko normcore banjo mustache twee. 3 wolf moon Neutra synth small batch, tote bag direct trade selfies iPhone Thundercats scenester PBR&B semiotics bitters. Cred wayfarers photo booth, blog fanny pack direct trade tattooed.</p>
            </article>
        </div>
    </section>



    <section id="blog" class="blog">
        <div class="wrapper">
            <h2 class="section-title">Code Louisville Blog</h2>

            {{! The tag below includes the post loop - partials/loop.hbs }}
            {{> "loop"}}

        </div>
    </section>
