{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}


    <section id="blog" class="blog">
        <div class="wrapper">

            <h1 class="section-title">{{tag.name}}</h1>
            <hp class="page-description">A {{pagination.total}}-post collection.</hp>

            {{! The tag below includes the post loop - partials/loop.hbs }}
            {{> "loop"}}

        </div>
    </section>
    