// FOOTER


footer.site-footer {
    font-family: $sans-serif;
    background: $medium-gray;
    color: darken($light-gray, 25);
    a {
        color: white;
    }

    article {

        @include media($medium-screen) {
            @include span-columns(3);

            &.copyright {
                @include shift(2);
            }

        }

    }

}
