// FOOTER


footer.site-footer {
    font-family: $sans-serif;
    background: $medium-gray;
    color: white;

    article {

        @include media($medium-screen) {
            @include span-columns(3);
        }

    }

    small {
        color: lighten($medium-gray, 25);
    }

}
