// TYPOGRAPHY

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
    font-weight: 700;
    strong {
        font-weight: 900;
    }
}

p {
    font-family: $serif;
}

p, li, pre {
    font-size: 1.1em;
}

blockquote {
    font-size: 1.5em;
    font-style: italic;
    border: none;
    margin: 2em 0;
    padding: 0;
    line-height: .5;

    cite {
        color: darken($light-gray, 20);
    }

}

pre {
    word-wrap: break-word;
}
