
<footer class="site-footer">
    <div class="wrapper">

        <article class="footer-links">
            <ul>
                <li><strong>Get Involved</strong></li>
                <li><a href="/students">Students</a></li>
                <li><a href="/mentors">Mentors</a></li>
                <li><a href="/employers">Employers</a></li>
                <li><a href="/#courses">Courses</a></li>
            </ul>
        </article>

        <article class="footer-info">
            <ul>
                <li><strong>Information</strong></li>
                <li><a href="/about">About</a></li>
                <li><a href="/#blog">Blog</a></li>
                <li><a href="/resources">Resources</a></li>
            </ul>
        </article>

        <article class="footer-connect">
            <ul>
                <li><strong>Connect</strong></li>
                <li><a href="https://github.com/CodeLouisville">GitHub</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="https://twitter.com/codelouisville">Twitter</a></li>
            </ul>
        </article>

        <article class="footer-copyright">
            <span>{{@blog.title}}<br /><small>&copy; {{date format="YYYY"}}. All Rights Reserved.</small></span>
        </article>

    </div>
</footer>
