
<footer class="site-footer">
    <div class="wrapper">

        <article class="footer-links">
            <ul>
                <li><strong>Get Involved</strong></li>
                <li><a href="/students">Students</a></li>
                <li><a href="/mentors">Mentors</a></li>
                <li><a href="/employers">Employers</a></li>
                <li><a href="/#courses">Current Courses</a></li>
            </ul>
        </article>

        <article>
            <ul>
                <li><strong>Information</strong></li>
                <li><a href="/about">About Code Louisville</a></li>
                <li><a href="/#blog">Code Louisville Blog</a></li>
                <li><a href="/resources">Helpful Resources</a></li>
                <li><a href=""></a></li>
            </ul>
        </article>

        <article class="copyright">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a><br /><small>All Rights Reserved</small></article>

    </div>
</footer>
