<nav class="main-nav">
    <div class="wrapper">
        <h1 class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
        <ul class="primary-links">
            <li><a href="">Learn</a></li>
            <li><a href="">Teach</a></li>
            <li><a href="">Hire</a></li>
        </ul>
        <ul class="secondary-links">
            <li><a href="/about">About</a></li>
            <li><a href="/resources">Resources</a></li>
        </ul>
    </div>
</nav>
