<nav class="main-nav">
    <div class="wrapper">
        <h1 class="site-title"><a href="/">{{@blog.title}}</a></h1>
        <ul class="primary-links">
            <li><a href="/students">Learn</a></li>
            <li><a href="/mentors">Teach</a></li>
            <li><a href="/employers">Hire</a></li>
        </ul>
        <ul class="secondary-links">
            <li><a href="/#blog">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/resources">Resources</a></li>
        </ul>
    </div>
</nav>
