<aside class="sidebar">
    <h3>The Sidebar</h3>
    <ul>
        <li><a href="/">Code Louisville</a></li>
        <li><a href="/typography">Typography</a></li>
        <li><a href="">Something</a></li>
        <li><a href="">Something Else</a></li>
        <li><a href="">Something Else</a></li>
    </ul>
</aside>
