<section class="testimonial">
    <div class="wrapper">
        <blockquote>Did you know: It is physically impossible to frown while riding a scooter. <cite>Blockquote</cite></blockquote>
    </div>
</section>
