@import url(http://fonts.googleapis.com/css?family=Lato:700,900|Lora:400,700,400italic);

// $visual-grid: true;

// NORMALIZE.CSS RESET
@import 'partials/normalize';

// VENDOR IMPORTS (https://github.com/thoughtbot/bitters#installation)
@import 'vendor/bourbon/bourbon';
@import 'vendor/base/grid-settings';
@import 'vendor/neat/neat';
@import 'vendor/base/base';


// CUSTOM PARTIALS IMPORT
@import 'partials/navigation';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/typography';

// GLOBAL SETTINGS

body {
    margin: 0;
    padding: 0;
}

// LAYOUT

.container,
.wrapper {
    @include outer-container;
    padding: 4em 0;
}

main.content {
    @include outer-container;
    padding: 0 0 4em;

    article.post,
    article.page {
        @include span-columns(7);
    }

    aside.sidebar {
        @include span-columns(3);
        @include shift(2);
        margin-top: .5em;

        li {
            line-height: 2;
        }

    }

}



// SECTIONS

.home-template {
    .page-title, .section-title {
        padding-bottom: 1em;
        margin: .5em 0 1em;
        border-bottom: 2px solid rgba(0,0,0,0.05);
    }
}

.courses {
    background: $red;
    color: $light-gray;

    .section-title {
        color: $medium-gray;
    }

    article {
        @include span-columns(4);
    }

    a {
        color: $yellow;
        border-bottom: 1px solid $yellow;

        &:hover {
            color: darken($yellow, 15);
            border-bottom: 1px solid darken($yellow, 15);
        }

    }

}

.testimonial {
    background: $light-gray;

    .wrapper {
        padding: 2em 0;
    }
}

.benefits {
    article {
        @include span-columns(6);
    }
    article:nth-child(odd) {
        @include shift(6);
    }
}

.blog {
    .wrapper {
        max-width: em(700);
    }

    background: $light-gray;

    article.post {
        margin: 4em 0;
    }

    .post-title a {
        color: $base-font-color;
        font-weight: 900;
    }

}

.post-template {
    background: $light-gray;
}